.*/
**/out/*

**/obj
**/bin
*.suo
*.user
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.*
nCrunchTemp*
_Resharper*.*
**/packages
*.received.txt

*.sdf
*.opendb
*.log
*.vspx
*.diagsession
*.obj
*.pch
*.opensdf
*.ipch
*.VC.db
*.xdc
_NCrunch_Honoris
